<template>
  <div class="home flex">
    <div class="search-container flex flex-center">
      <div class="search-container-input flex">
        <input
          v-model="query"
          type="text"
          class="input"
          placeholder="Search for a username"
        />
        <button class="button" type="button" @click="search">Search</button>
      </div>
    </div>

    <div
      class="list-container"
      :class="{ loading: isLoading }"
      v-if="error == null"
    >
      <Loader v-if="isLoading"></Loader>
      <div class="gist-list" v-if="!isLoading && gistList.length">
        <ul>
          <Gist
            v-for="(gist, index) of gistList"
            :key="index"
            :gist="gist"
          ></Gist>
        </ul>
      </div>
      <div class="empty-message flex" v-else-if="!isLoading">
        <h3>Nothing to show here, try to update your search</h3>
      </div>
    </div>
    <div class="error-message flex" v-if="error">
      <h3>{{ error }}</h3>
    </div>
  </div>
</template>

<script>
import Loader from "@/components/Loader.vue";
import Gist from "@/components/Gist.vue";
export default {
  name: "Home",
  components: { Loader, Gist },
  data() {
    return {
      query: null,
      gistList: [],
      isLoading: false,
      error: null,
    };
  },
  methods: {
    search() {
      this.isLoading = true;
      this.error = null;
      this.$store
        .dispatch("getUserGists", { username: this.query })
        .then((res) => {
          this.gistList = res.data;
        })
        .catch(() => {
          this.error = "Oops, we had a problem. Please try again";
        })
        .finally(() => {
          this.isLoading = false;
        });
    },
  },
};
</script>

<style lang="scss" scoped>
.home {
  width: 100%;
  height: 100vh;
  flex-direction: column;
  .search-container {
    height: 140px;
    background-color: #2540a2;
    &-input {
      background-color: #fff;
      padding: 8px;
      border-radius: 4px;
      min-width: 320px;
      justify-content: space-between;
      .input {
        flex: 1;
      }
      .button {
        margin-left: 16px;
      }
    }
  }

  .list-container {
    padding: 0 16px;
    max-height: 100%;
    overflow-y: scroll;
    flex: 1;
    padding-bottom: 60px;
    &.loading {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .error-message,
  .empty-message {
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    h3 {
      text-align: center;
    }
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .home {
    .search-container {
      padding: 0 16px;
    }
  }
}
</style>
