<template>
  <div class="app-layout">
    <header class="header flex">
      <router-link to="/" class="home-link"> Github app </router-link>
      <div class="links flex">
        <router-link class="flex flex-center" to="/">Home</router-link>
      </div>
    </header>
    <main class="main">
      <router-view></router-view>
    </main>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.app-layout {
  max-height: 100vh;
  overflow: hidden;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  background-color: #fff;

  border-bottom: var(--border-color);

  .home-link {
    font-size: 24px;
    font-weight: 500;
    margin-left: 16px;

    padding: 20px 16px;
  }
  .links {
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    a {
      padding: 20px 16px;
      height: 100%;
    }
  }
}
.main {
  margin-top: var(--header-height);
  max-height: 100%;
  overflow: auto;
}
</style>
