<template>
  <li class="gist flex">
    <User :user="gist.owner"></User>
    <div class="gist-details-container flex">
      <p class="gist-description" v-if="gist.description">
        {{ gist.description }}
      </p>
      <div class="description-group flex">
        <label class="label"> Types: </label>
        <div class="types-container">
          <span
            v-for="(file, index) of gist.files"
            :key="index"
            class="badge"
            >{{ file.language != null ? file.language : "Text" }}</span
          >
        </div>
      </div>
      <div class="description-group flex" v-if="forks.length > 0">
        <label class="label"> Forks: </label>
        <div class="users-container flex">
          <User
            v-for="(fork, index) of forks"
            :key="index"
            :user="fork.owner"
            :isSmall="true"
          >
          </User>
        </div>
      </div>
    </div>
  </li>
</template>

<script>
import User from "@/components/User.vue";
export default {
  components: { User },
  props: ["gist"],
  data() {
    return {
      isLoading: false,
      forks: [],
    };
  },
  mounted() {
    this.getGistForks();
  },
  methods: {
    getGistForks() {
      this.isLoading = true;
      this.$store
        .dispatch("getGistForks", { gist_id: this.gist.id })
        .then((res) => {
          this.forks = res.data;
        })
        .finally(() => {
          this.isLoading = false;
        });
    },
  },
};
</script>

<style lang="scss" scoped>
.gist {
  margin-bottom: 10px;
  padding-left: 16px;
  border-left: 3px solid #0fca98;
  height: 162px;
  overflow-y: hidden;
  .gist-details-container {
    flex-direction: column;
    justify-content: center;
    margin-left: 16px;
    .description-group {
      flex-direction: column;
      margin-top: 10px;
      .label {
        font-size: 12px;
        color: var(--text-color);
        font-weight: 600;
        margin-bottom: 5px;
      }
    }
    .gist-description {
      margin: 10px 0;
      max-height: 52px;
      overflow-y: scroll;
      text-overflow: ellipsis;
      font-size: 14px;
      flex: 1;
    }
    .types-container {
      display: flex;
      flex: 1;
      align-items: flex-end;
      max-width: 100%;
      overflow-x: scroll;
      .badge {
        &:not(:first-child) {
          margin-left: 6px;
        }
      }
    }
    .users-container {
      .user-container {
        margin-right: 10px;
      }
    }
  }
}
</style>
