<template>
  <div class="user-container flex" :class="{ small: isSmall }">
    <div
      class="user-avatar"
      :style="{ backgroundImage: `url(${user.avatar_url})` }"
    ></div>
    <span class="username">{{ user.login }}</span>
  </div>
</template>

<script>
export default {
  props: ["user", "isSmall"],
};
</script>

<style lang="scss" scoped>
.user-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &.small {
    .user-avatar {
      width: 20px;
      height: 20px;
    }
    .username {
      font-size: 10px;
    }
  }
  .user-avatar {
    margin-bottom: 5px;
  }
  .username {
    color: rgba($color: #222, $alpha: 0.4);
    font-size: 14px;
    text-align: center;
  }
}
</style>
