<template>
  <div id="app">
    <app-layout></app-layout>
  </div>
</template>

<script>
import AppLayout from '@/components/AppLayout.vue'

export default {
  components: { AppLayout },
}
</script>


<style lang="scss" scoped>

</style>
