.flex {
  display: flex;
  &-center {
    align-items: center;
    justify-content: center;
  }
}

.button {
  height: 54px;
  background-color: #1a2340;
  color: #fff;
  border-radius: 2px;
  border: none;
  font-size: 18px;
  padding: 20px 16px;
  font-weight: 500;
  box-shadow: inset 0 0 0 10rem rgba(#000, 0);
  &:hover {
    cursor: pointer;
    box-shadow: inset 0 0 0 10rem rgba(#000, 0.4);
  }
}

.input {
  border: none;
  height: 54px;
}

.user-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.badge {
  font-size: 12px;
  color: #f95d02;
  background-color: rgba($color: #f95d02, $alpha: 0.1);
  padding: 4px 8px;
  border-radius: 15px;
  display: block;
  height: fit-content;
}
