@import "./_variables.scss";
@import "./_classes.scss";

*:focus {outline:none}
ul {
  list-style-type: none;
  padding-inline-start: 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  color: var(--text-color);
  a {
    text-decoration: none;
    color: var(--text-color);
  }
}
